#
# Performance Monitor Drivers
#

menu "Performance monitor support"

config ARM_PMU
	depends on PERF_EVENTS && (ARM || ARM64)
	bool "ARM PMU framework"
	default y
	help
	  Say y if you want to use CPU performance monitors on ARM-based
	  systems.

config XGENE_PMU
        depends on PERF_EVENTS && ARCH_XGENE
        bool "APM X-Gene SoC PMU"
        default n
        help
          Say y if you want to use APM X-Gene SoC performance monitors.

config ARM_PMU_ACPI
	def_bool y
	depends on ARM_PMU && ACPI

config HISI_PMU
	bool "HiSilicon SoC PMU"
	depends on PERF_EVENTS && ARM64
	help
	  Enable hardware event counter support for hardware event counters
	  in Hisilicon HiP05/06/07 SoC. The hardware modules like L3C and MN
	  have hardware events and counters.

endmenu
