/**
 * dts file for Hisilicon PhosphorV660 D02 Board
 *
 * Copyright (C) 2014,2015 Hisilicon Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * publishhed by the Free Software Foundation.
 *
 */

/dts-v1/;

/include/ "hip05.dtsi"

/ {
	model = "Hisilicon PhosphorV660 D02 Development Board";
	compatible = "hisilicon,hip05-d02", "hisilicon,hisi-pv660";

	memory@00000000 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x80000000>;
	};

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x80300000 console=ttyS0,115200 initrd=0x7000000,350M";
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		pwrbutton {
			label = "Power Button";
			gpios = <&porta 8 1>;
			linux,input-type = <0x16>;
			linux,code = <116>;
			debounce-interval = <0>;
		};
	};

	gpio_leds {
		compatible = "gpio-leds";
		led@1 {
			label = "Heartbeat";
			gpios = <&porta 12 1>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};
};

&uart0 {
	status = "okay";
};

&ahci0 {
	status = "okay";
};

&m3_i2c0 {
	clock-frequency = <400000>;
	status = "okay";
};

&m3_i2c1 {
	clock-frequency = <400000>;
	status = "okay";

	rtc: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
	};

	eeprom: at24c128@52 {
		compatible = "microchip,24c128";
		reg = <0x52>;
		pagesize = <64>;
	};

	tsensor: adt75@48 {
		compatible = "adi,adt75";
		reg = <0x48>;
	};

	dtt: lm96080@28 {
		compatible = "national,lm96080";
		reg = <0x28>;
	};
};

&m3_i2c2 {
	clock-frequency = <400000>;
	status = "okay";
};

&pc_i2c0 {
	clock-frequency = <400000>;
	status = "okay";
};

&pc_i2c1 {
	clock-frequency = <400000>;
	status = "okay";
};

&eth0 {
	status = "okay";
};

&eth1 {
	status = "okay";
};

&eth4 {
	status = "okay";
};

&eth5 {
	status = "okay";
};
