config INFINIBAND_HNS
	tristate "HNS RoCE Driver"
	depends on NET_VENDOR_HISILICON
	depends on ARM64 && HNS && HNS_DSAF && HNS_ENET
	---help---
	  This is a RoCE/RDMA driver for the Hisilicon RoCE engine. The engine
	  is used in Hisilicon Hip06 and more further ICT SoC based on
	  platform device.

	  To compile this driver as a module, choose M here: the module
	  will be called hns-roce and hns-roce-hw-v1.
